<app-header title="Detalles de Viaje" showBackBtn="true"></app-header>

<ion-content fullscreen class="ion-padding">
  <h1 style="text-align: center">
    Fecha: {{travel.fecha | date: 'shortDate':"+0000"}}
  </h1>

  <div id="map"></div>

  <ion-list>
    <ion-item>
      <ion-label>Mostrar información del viaje</ion-label>
      <ion-toggle
        [(ngModel)]="showInfo"
        [disabled]="markers.length < 3"
      ></ion-toggle>
    </ion-item>

    <div [hidden]="!showInfo || markers.length < 3" id="indicators"></div>

    <hr width="100%" color="white" />

    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label>Lista de usuarios:</ion-label>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label style="text-align: end">Asistencia</ion-label>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-list *ngIf="users.length != 0">
          <ion-item *ngFor="let user of users">
            <ion-avatar slot="start">
              <img src="../../../assets/imgs/user-icon.png" />
            </ion-avatar>
            <ion-label > {{user.nombre}} </ion-label>
            <ion-toggle [checked]="user.is_Active" disabled></ion-toggle>
          </ion-item>
        </ion-list>
      </ion-row>
    </ion-grid>

    <hr width="100%" color="white" />

    <ion-item>
      <ion-label>Lista de eventos:</ion-label>
    </ion-item>

    <ion-list *ngIf="events.length != 0">
      <ion-item *ngFor="let event of events">
        <ion-avatar slot="start">
          <img src="../../../assets/imgs/warn-icon.png" />
        </ion-avatar>
        <ion-label> {{event.nombre}} </ion-label>
        <ion-button shape="round" (click)="showEventInfo($event, event)">
          <ion-label>Detalles</ion-label>
        </ion-button>
      </ion-item>
    </ion-list>
  </ion-list>
</ion-content>
