#map {
  width: 100%;
  height: 50%;
  margin-bottom: 3%;
  opacity: 0;
  transition: opacity 150ms ease-in;
  display: block;
  &.show-map {
    opacity: 1;
  }
}

#indicators {
  border-radius: 10px;
  background-color: white;
  color: black;
  margin: 2.5%;
  padding: 16px;
  height: 40%;
  width: 95%;
  overflow-y: auto;
  display: block;
}

ion-list {
  width: -webkit-fill-available;
  margin-bottom: 2%;
}

.info {
  border: solid 1.5px black;
  border-radius: 10px;
  background-color: white;
  color: black;
}

h1 {
    text-align: center;
    margin: 1.5% 0;
}