<app-header title="Rutas" showBackBtn="true"></app-header>

<ion-content>
  <ion-toolbar color="primary">
    <ion-searchbar
      animated
      placeholder="Filtar por nombre"
      (ionChange)="onSearchChange($event)"
      [debounce]="250"
      showCancelButton="focus"
    ></ion-searchbar>
  </ion-toolbar>

  <ion-list *ngIf="(routes | filter: filterValue).length != 0; else noData">
    <ion-item *ngFor="let r of routes | filter: filterValue" [routerLink]="['/routes', r.id]">
      <ion-avatar slot="start">
        <ion-img src="../../assets/imgs/routeimg.png"></ion-img>
      </ion-avatar>
      <ion-label> {{r.nombre}} </ion-label>
    </ion-item>
  </ion-list>

  <ng-template #noData>
    <ion-card>
      <ion-card-header>
        <img width="100%" style="background: transparent;" src="../../assets/imgs/nodata.png">
        <ion-card-title>No hay rutas con el nombre: <br> {{filterValue}}</ion-card-title>
      </ion-card-header>
    </ion-card>
  </ng-template>
  

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button [routerLink]="['/create-route']" color="success">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
