.route-select {
  background-color: cornflowerblue;
  margin: 3% 0;
}


ion-card {
  height: 80% !important;
  border-radius: 20px;
}

ion-card-header {
  text-align: center;
  background-color: white;
  height: -webkit-fill-available;
}

ion-card-title {
  color: black;
}

img,
ion-card-title {
  margin: 10% 0;
}

h1 {
  text-align: center;
}
