<app-header *ngIf="!onlyShowInfo" title="Añadir Evento"></app-header>
<app-header *ngIf="onlyShowInfo" title="Detalles de Evento"></app-header>

<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header>
      <img
        width="50%"
        style="background: transparent"
        src="../../assets/imgs/warning.png"
      />
      <ion-card-title *ngIf="!onlyShowInfo" style="text-align: center"
        >Por favor describa el evento</ion-card-title
      >
      <ion-card-title *ngIf="onlyShowInfo" style="text-align: center"
        >Información del evento</ion-card-title
      >
    </ion-card-header>
  </ion-card>

  <form [formGroup]="eventFG">
    <ion-list>
      <ion-item>
        <ion-label position="floating">Nombre</ion-label>
        <ion-input formControlName="name"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Descripción</ion-label>
        <ion-textarea  formControlName="description"></ion-textarea>
      </ion-item>
      
      <ion-item *ngIf="onlyShowInfo">
        <ion-label>Hora de emisión:</ion-label>
        <ion-datetime formControlName="time" displayFormat="h:mm a"></ion-datetime>
      </ion-item>   

    </ion-list>
  </form>

  <section>
    <ion-button *ngIf="!onlyShowInfo" color="danger" (click)="closeModal()">
      <ion-label>Cancelar</ion-label>
      <ion-icon name="close-outline"></ion-icon>
    </ion-button>

    <ion-button *ngIf="onlyShowInfo" color="danger" (click)="closeModal()">
      <ion-label>Cerrar</ion-label>
      <ion-icon name="close-outline"></ion-icon>
    </ion-button>

    <ion-button *ngIf="!onlyShowInfo" [disabled]="!eventFG.valid" (click)="createEvent()">
      <ion-label>Crear Evento</ion-label>
      <ion-icon name="add"></ion-icon>
    </ion-button>
  </section>
</ion-content>
